* {
    background-color: aliceblue;
}

#title {
    display: block;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    display: block;
    border: 0.5px solid;
    border-radius: 0.5rem;
    width: 30rem;
    height: auto;
}

#word {
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#meaning {
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#copyWord {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    border-color:rgb(238, 13, 13);
    margin: 20px;
    padding: 5px 10px;
    background-color: rgb(238, 13, 13);
    color: white;
    cursor: pointer;
}

#copyWord:hover {
    background-color:rgb(251, 0, 0);
}

#generateWord {
    text-align: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    border-color:rgb(61, 220, 61);
    margin: 20px;
    padding: 5px 10px;
    background-color: rgb(43, 183, 43);
    color: white;
    cursor: pointer;
}

#generateWord:hover {
    background-color: rgb(61, 220, 61);
}
